/* Importando a fonte Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700;900&display=swap');

/* Aplicando a fonte Montserrat para toda a aplicação */
.root {
    -fx-font-family: 'Montserrat', sans-serif;
    -fx-background: rgba(178,190,214,255);
}

.vbox {
    -fx-alignment: center;
    -fx-spacing: 25px;
}

/* Estilo da logo */
.logo {
    -fx-fit-width: 300px;
    -fx-fit-height: 300px;
    -fx-preserve-ratio: true;
    -fx-translate-y: -20;
}

/* Estilo da imagem de login */
.login-image {
    -fx-fit-width: 400px;
    -fx-fit-height: 400px;
    -fx-preserve-ratio: true;
    -fx-translate-y: -70;
}

/* Estilo dos campos de texto (e-mail e senha) */
.text-field, .password-field {
    -fx-font-size: 14px;
    -fx-padding: 12px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-background-color: rgba(83,126,168,1);
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;
    -fx-max-width: 300px;
    -fx-translate-y: -80;
}

/* Estilo da mensagem (erro/sucesso) */
.mensagem-label {
    -fx-font-size: 14px;
    -fx-padding: 5px 0px;
    -fx-border-radius: 0px 5px;
    -fx-background-radius: 10px;
    -fx-text-fill: white;
    -fx-min-width: 300px;
    -fx-min-height: 20px;
    -fx-alignment: center;
    -fx-background-color: rgba(245,155,57,1);
    -fx-font-weight: bold;
    -fx-translate-y: -80px;
    -fx-wrap-text: true;
}

/* Estilo do botão Confirmar */
.confirmar-button {
    -fx-background-color: rgba(245,155,57,1);
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 0px 10px;
    -fx-min-width: 300px;
    -fx-min-height: 35px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-translate-y: -80;
}

/* Estilo do label de copyright */
.copyright-label {
    -fx-font-size: 14px;
    -fx-text-fill: black;
    -fx-alignment: center;
    -fx-padding: 40px;
}

/* Estilo da mensagem de erro */
.mensagem-erro {
    -fx-background-color: rgba(230,37,127,255);
}
